.contact-form{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(https://niceroll.it/wp-content/uploads/2020/03/i-numeri-del-sigep-immagine-in-evidenza.jpg);
    margin-top: 10%;
    margin-bottom: 5%;
    width: 70%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.contact-form .form-control{
    border-radius:1rem;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
}
.contact-form form{
    padding: 14%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color:var(--secondary-color);
}
.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background:var(--secondary-color);
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}

.contact-form2{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(https://c4.wallpaperflare.com/wallpaper/569/803/626/berries-ice-cream-nuts-sweet-dessert-hd-wallpaper-preview.jpg);
    background-size: cover;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 70%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contact-form2 .form-control{
    border-radius:1rem;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
}
.contact-form2 form{
    padding: 14%;
}
.contact-form2 form .row{
    margin-bottom: -7%;
}
.contact-form2 h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color:var(--secondary-color);
}
.contact-form2 .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background:var(--secondary-color);
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}