header {
    position: absolute;
    z-index: 10;
    width: 100%;
}

.banner {
    position: relative;
    background:url(https://images.alphacoders.com/102/thumb-1920-1020428.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 250px 0 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.banner h1 {
    margin: 0;
    padding: 0;
    font-size: 2.8em;
    font-weight: 1000;
    text-transform: uppercase;
    color:var(--secondary-color);

}

.banner p {
    margin: 1em 0 0;
    padding: 0;
    line-height: 1.5em;
   

}

.shop-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.shop-card:hover {
    transform: scale(1.2);
    transition: transform 1s ease;
    box-shadow: 5px 7px 9px -3px var(--secondary-color);
}

.home-shops {
    color:var(--secondary-color);
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
}

