.main-section {
    margin: 0 auto;
    margin-top: 130px;
    padding: 0;
}

.modal-content {
    background: var(--main-color);
    opacity: .8;
    padding: 0 18px;
    border-radius: 10px;
}

.user-img img {
    height: 120px;
    width: 120px;
}

.modal-dialog {
    top: -75px;
}

.login-cont {
    height: 100vh;
    background: url(https://images.creativemarket.com/0.1.0/ps/5712147/1820/1214/m1/fpnw/wm1/sw81oqjopwwjfgctzqjmj9vokdcnwbj3kazxveeiglv6dzpnkj5adbhqugpskzpf-.jpg?1547653494&s=e8dbf2f2b460843b5b4a45215ff1f226);
}