.navbar {
    padding: 20px 0;
}

.navbar-brand {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 2em;
    color: var(--main-color);
}

.nav-item {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 1.5em;
}

 
.navbar-light .navbar-nav .nav-item.active .nav-link {
   border-bottom: 3px solid #292b2c;
   color:	#292b2c;
}

.navbar-light .navbar-nav .nav-item .nav-link:hover {
   color:var(--secondary-color); 
   border-bottom: 3px solid #292b2c;;

}

.navbar-light .navbar-nav .nav-item .nav-link {
    color:	#292b2c;
    padding: 5px 15px;
} 

.navbar-light .navbar-toggler {
    border: none;
    color: black;
    border: 2px solid #7f7f7f;
}

