.show-cont {
   margin-top: 100px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(https://niceroll.it/wp-content/uploads/2020/03/i-numeri-del-sigep-immagine-in-evidenza.jpg);
}
.card-img {
   width: 100%;
   height: 200px;
}

.icecream-card {
   background:var(--main-color);
   border: 2px solid;
   border-color: var(--secondary-color);
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

 
 