 // Fonts 
 
// p {
//     @import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');
// }

:root {
    --main-color:#FFFDD0;
    --secondary-color:#F497DA;
    --secondary-color-trans:#F8FFF4;
    --ter-color: #ffff;
  }

body {
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(https://assets.epicurious.com/photos/5b48d235ab328a56052df11a/16:9/w_2560%2Cc_limit/Chocolate-Ice-Cream-Test-hero-11072018.jpg);
}

h1 {
    font-family: 'Staatliches', cursive;
    color: black;
    animation: neon .08s ease-in-out infinite alternate;
}

strong {
  color: var(--secondary-color);
  font-weight: 700;
}

a {
  color: var(--ter-color);
  text-decoration:none;
}

a:hover {
  color: var(--secondary-color);
}

.bg-main {
    background-color: var(--main-color);
}

.bg-sec {
    background-color: var(--secondary-color);
}

.bg-ter {
    background-color: var(--ter-color);
}

.text-main {
    color:var(--main-color);
}

.text-sec {
    color: var(--secondary-color);
}

.text-sec-trans {
    color: var(--secondary-color-trans);
}

.text-ter {
    color: var(--ter-color);
}

.fa-star {
    color: var(--secondary-color);
}

.fa-star-half-alt {
    color: var(--secondary-color);
}

.card-text {
    color: var(--main-color);
}

